@import "tailwindcss" important;
@plugin "@tailwindcss/typography";
@theme {
    --font-sans: var(--locale-based-font-sans-family);
}

:root {
    --locale-font-sans-latin: "Comfortaa Variable";
    --locale-font-sans-zh-cn: "Maple Mono";
    --locale-font-sans-zh-tw: "Huninn";
    --locale-font-sans-ja-jp: "M PLUS Rounded 1c";

    --locale-font-sans-block-latin: "Geologica Variable";
    --locale-font-sans-block-zh-cn: "Noto Sans SC Variable";
    --locale-font-sans-block-zh-tw: "Noto Sans TC Variable";
    --locale-font-sans-block-ja-jp: "BIZ UDPGothic";
}

* {
    --locale-based-font-sans-family:
        var(--locale-font-sans-latin), var(--locale-font-sans-ja-jp),
        ui-sans-serif, system-ui, sans-serif;
    --locale-based-font-sans-block-family:
        var(--locale-font-sans-block-latin),
        var(--locale-font-sans-block-ja-jp), ui-sans-serif, system-ui,
        sans-serif;
}
*:lang(zh-CN) {
    --locale-based-font-sans-family:
        var(--locale-font-sans-latin), var(--locale-font-sans-zh-cn),
        ui-sans-serif, system-ui, sans-serif;
    --locale-based-font-sans-block-family:
        var(--locale-font-sans-block-latin),
        var(--locale-font-sans-block-zh-cn), ui-sans-serif, system-ui,
        sans-serif;
}
*:lang(zh-TW) {
    --locale-based-font-sans-family:
        var(--locale-font-sans-latin), var(--locale-font-sans-zh-tw),
        ui-sans-serif, system-ui, sans-serif;
    --locale-based-font-sans-block-family:
        var(--locale-font-sans-block-latin),
        var(--locale-font-sans-block-zh-tw), ui-sans-serif, system-ui,
        sans-serif;
}
*:lang(ja) {
    --locale-based-font-sans-family:
        var(--locale-font-sans-latin), var(--locale-font-sans-ja-jp),
        ui-sans-serif, system-ui, sans-serif;
    --locale-based-font-sans-block-family:
        var(--locale-font-sans-block-latin),
        var(--locale-font-sans-block-ja-jp), ui-sans-serif, system-ui,
        sans-serif;
}
